* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    background-color: rgba(203, 229, 255, 0.788);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    padding-top: 1em;
    color: #000393;
}

.outer_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.inner_div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items:center;
    gap: 0.5em;
    margin-top: 3.125em;
    padding-top: 0em;
    background-color: rgb(255, 255, 255);
    border: 0.75em;
    border-radius: 1.25em;
    width: 22%;
}

.qr_image, img {
    display: flex;
    margin-top: 0.926em;
    margin-bottom: 0.6em;
    width: 89%;
    height: 40%; 
    border-radius: 5%;
}

.text1{
    display: flex;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 1.225rem;
    color: rgb(8, 24, 85);
    text-align: center;
    padding: 0em 1.8625em;
}

.text2 {
    display: flex;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.404);
    text-align: center;
    margin-bottom: 3.02em;
    padding: 0em 3.9875em;
}

.attribution {
    font-size: 0.688rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    h1 {
        display: flex;
        justify-content: center;
        padding-top: 1em;
        text-align: center;
    }
    
    .inner_div {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        gap: 0.5em;
        margin-top: 1em;
        padding-top: 0em;
        background-color: rgb(255, 255, 255);
        border: 0.75em;
        border-radius: 1.25em;
        width: 50%;
    }

    #qr_image, img {
        display: flex;
        margin-top: 0.450em;
        margin-bottom: 0.3125em;
        width: 88%;
        height: 40%; 
        border-radius: 5%;
    }
    
    .text1  {
        display: flex;
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        font-size: 3.5vw;
        color: rgb(8, 24, 85);
        text-align: center;
        padding: 0em 1.1em;
        margin-left: 0em;
        margin-right:0em;
    }
    .text2 {
        display: flex;
        font-family: "Outfit", sans-serif;
        font-weight: 400;
        font-size: 2.4vw;
        color: rgba(0, 0, 0, 0.404);
        text-align: center;
        margin-bottom: 2.2em;
        padding: 0em 1.8em;
    }
}