* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: rgba(203, 229, 255, 0.788);
}

.outer_sect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.qr_sect {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items:center;
    gap: 1.25em;
    margin-top: 3.125em;
    padding-top: 0em;
    background-color: rgb(255, 255, 255);
    border: 0.75em;
    border-radius: 1.25em;
    width: 22%;
    height: 2500%;
}

.qr_image, img {
    display: flex;
    margin-top: 0.926em;
    width: 89%;
    height: 60%; 
    border-radius: 5%;
}

.para1{
    display: flex;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 1.225rem;
    color: rgb(8, 24, 85);
    text-align: center;
    padding: 0em 1.8625em 0em 1.8625em;
    margin-left: 0em;
    margin-right:0em;
}

.para2 {
    display: flex;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.404);
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 3.02em;
    padding: 0em 3.9875em 0em 3.9875em;
}

.attribution {
    font-size: 0.688rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 480px) {
    .qr_sect {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        gap: 1.25em;
        margin-top: 3.125em;
        padding-top: 0em;
        background-color: rgb(255, 255, 255);
        border: 0.75em;
        border-radius: 1.25em;
        width: 50%;
        height: 85vh;
    }

    #qr_image, img {
        display: flex;
        margin-top: 0.450em;
        margin-bottom: 0.3125em;
        width: 89%;
        height: 45vh; 
        border-radius: 5%;
    }
    
    .para1  {
        display: flex;
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        font-size: 3.5vw;
        color: rgb(8, 24, 85);
        text-align: center;
        padding: 0em 1.1em 0em 1.1em;
        margin-left: 0em;
        margin-right:0em;
    }
    .para2 {
        display: flex;
        font-family: "Outfit", sans-serif;
        font-weight: 400;
        font-size: 2.4vw;
        color: rgba(0, 0, 0, 0.404);
        text-align: center;
        text-wrap: wrap;
        margin-bottom: 3.02em;
        padding: 0em 2.8em 0em 2.8em;
    }
}