* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    background-color: rgba(203, 229, 255, 0.788);
}

h1 {
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 0.5em;
    color: #000393;
}

.outer_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.125em;
    margin-bottom: 1em;
}

.inner_div {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1em;
    background-color: #ffffff;
    border-width: 0.75em;
    border-radius: 1.25em;
    width: 22%;
}

.qr_image {
    margin-top: 0.926em;
    margin-bottom: 0.6em;
    width: 89%;
    height: auto; 
    border-radius: 5%;
}

.text1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 1.225rem;
    color: #081855;
    text-align: center;
    padding: 0em 1.8625em;
}

.text2 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.404);
    text-align: center;
    margin-bottom: 3.02em;
    padding: 0em 2.9875em;
}

.attribution {
    font-size: 0.688rem; 
    text-align: center; 
}

.attribution a { 
    color: #3e52a3; 
}

@media (max-width: 375px) {
    h1 {
        padding-top: 1em;
    }

    .outer_div {
        margin-top: 1em;
    }
    
    .inner_div {
        gap: 0.5em;
        width: 50%;
    }

    .qr_image {
        margin-top: 0.690em;
        margin-bottom: 0.3125em;
        width: 88%;
        height: auto; 
    }
    
    .text1  {
        font-size: 3.5vw;
        padding: 0em 1.1em;
    }
    .text2 {
        font-size: 2.4vw;
        margin-bottom: 2.2em;
        padding: 0em 1.8em;
    }
}